In [1]:
from selenium import webdriver
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW")

In [4]:
ranks = []
names = []
lifetimes = []

try:
    rank = driver.find_elements("xpath","//td[@class='a-text-right mojo-header-column mojo-truncate mojo-field-type-rank']")
    name = driver.find_elements("xpath","//td[@class='a-text-left mojo-field-type-title']/a[@class='a-link-normal']")
    lifetime = driver.find_elements("xpath","//td[@class='a-text-right mojo-field-type-money']")

except:
    print('error')
    
for r,n,l in zip(rank,name,lifetime):
    if r.text and n.text and l.text is not None:
        ranks.append(r.text)
        names.append(n.text)
        lifetimes.append(l.text)

In [5]:
data = {"Ranks": ranks,"Names": names,"Lifetimes": lifetimes}
df  = pd.DataFrame(data)
df

    Ranks                                          Names       Lifetimes
0       1                                         Avatar  $2,923,706,026
1       2                              Avengers: Endgame  $2,799,439,100
2       3                       Avatar: The Way of Water  $2,320,250,281
3       4                                        Titanic  $2,264,743,305
4       5     Star Wars: Episode VII - The Force Awakens  $2,071,310,218
..    ...                                            ...             ...
195   196                             The Little Mermaid    $569,626,289
196   197                             Kong: Skull Island    $568,652,812
197   198  Mission: Impossible - Dead Reckoning Part One    $567,535,383
198   199                                     The Smurfs    $563,749,323
199   200                                         Cars 2    $559,852,396

[200 rows x 3 columns]

In [8]:
df.to_csv("boxofficemojo_scrapping.csv")